<div class="quest-content">
    <nav class="left-sidebar">
        <ul class="list-unstyled progress-list">
            <li class="text-center caption">Progress</li>
            <li class="divider"></li>
            <li>{{fa-icon "check" classNames="green"}} 0. Intro</li>
            <li class="active">{{fa-icon "check" classNames="green"}} 1. Собрать пазл</li>
        </ul>
    </nav>
    <div class="content-wrapper">
        <div class="corner-cube">
            <div id="ribbon"></div>
            <div id="giftbox" class="inner-wrapper">
                <div class="ribbon vertical-ribbon"></div>
                <div class="ribbon horizontal-ribbon"></div>
                <p>NAHC EOHP AWEB EILL</p>
                <p>LDEM IBRE RTEK LEVA</p>
                <p>WAT4 CLLI EFFO SERE</p>
                <p>ATUT BUOY WYBA TENI</p>
                <p>XESO RRAM SERY TCEP</p>
                <p>HTEG ITRE M?EM CISU</p>
                <p>ЯСАК АКЬЛ CINU 8NRO</p>
                <p>KOOB CARS VGNI SAGE</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Level {{model.currentLevel}}</h3>
            </div>
        </div>
        <div class="row level-content">
            <div class="col-sm-12">
              {{outlet}}
            </div>
        </div>
        <div class="row next-level-controls" style="background-color: #fafafa;">
            <div class="col-sm-offset-3 col-sm-6 col-md-6 col-lg-offset-4 col-lg-3">
                <div class="input-group input-group-lg code">
                    <div class="input-group-addon">#</div>
                  {{input-with-on-change class="form-control" type="text" maxlength="4" value=code
                  placeholder="code" onInputChange="onInputChange" startedTyping="startedTyping"}}
                    <span class="input-group-btn">
                  <button {{bind-attr class=":btn :btn-success code:enabled:disabled"}} type="submit" {{action 'submitCode'}}>Next</button>
            </span>
                </div>
            </div>
        </div>
    </div>

</div>
